body {
    background-image: url("ln1.gif");
    background-size: 220%;  
     }

title {
    color: rgb(255, 255, 255)
}

h1 {
    color: rgb(0, 132, 255);
    margin-left: 30p3384x;
    font-size: 3.3em;
    font-style: italic;
       }

       h2 {
        color: rgb(0, 132, 255);
        font-style: italic;
        font-size: 3.0em;
       }
       
       h3 {
        color: rgb(0, 132, 255);
        margin-left: 30p3384x;
        font-size: 3.3em;
        font-style: italic;
           }
               
          p {

            color: rgb(0, 132, 255);
            font-style: italic;
            font-size: 2.0em;
            
          
